:root{
    --blue: cadetblue;
    --white: rgb(241, 236, 236);
    --escuro: rgb(58, 91, 92);
    --escurao: rgb(34, 59, 59);
    --black: rgba(58, 91, 92, 0.212);
    --shadow: rgba(0, 0, 0, 0.336);
    --font-title: 'serif';
    --font-primary: 'roboto';
    --font-size-default: 16px;
}
/* 
:root{
    --blue: #4242dd;
    --white: #eeeeee;
    --black: #22222;
    --gray:#44444;
    --font-title: 'serif';
    --font-primary: 'roboto';
    --font-size-default: 16px;

 } */

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

/* {
    margin:0;
    paddin:0;
    box-sizing: border-box;
 } */ 
 /* box-sizing: border-box = desconsiderar a borda  da imagem */

 body{
    font-size: var(--font-primary);
    font-size: var(--font-size-default);
 }

