* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }


header{
    background-color: var(--escuro);
    background-image: url(../images/flat-lay-bookmark-books-assortment.jpg);
    background-size: cover;
    background-position: center top;
    
}

.header-main{
    background-color: var(--shadow);
}
.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.header-content {
    display: flex;
    /* flex-direction: column-reverse; */
    align-items: center;
    justify-content: space-evenly;
    /* height: 100vh; */
    min-height: 400px;
}
    
.header-text,
.header-logo {
    width: 50%;
}

.header-text {
    padding: 40px;
}

/*.header-logo {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}*/
.header-logo {
    display: flex;
    align-items:center;
    justify-content: center;
} 
/* ou
.header-logo {
    text-align: center; */
#icon img{
    border-radius: 50%;
    
}

nav-top ul{
    display: flex;
    justify-content: center;
}

nav-top li{
    list-style: none;
}



nav-top {
    background-color: var(--escurao);
}

nav-top li a{
    color: var(--blue);
    text-decoration: none;
    padding: 10px 20px;
    font-size: 23px;
}
nav-top li a:hover{
    color: var(--white);
    background-color: var(--escurao);
    border-bottom: solid 4px var(--white);
}
/* nav li a:hover{
    color: var(--gray);
    border-bottom: solid 2px var(--grey);

} 
*/
/* por ter usado o paddisng, a área de click do usuário é maior, o margin só separaria e deixaria a área de click menor  */
nav-top{
    line-height: 40px;
}

body{
    background-color: var(--escuro);
}

h1{
    color: var(--blue);
    margin-left: 20px;
    
}

nav-top a{
    color: var(--white);
    margin-left: 20px;
   
}

a.nav-link{
    color: var(--white);
    margin-left: 20px;
}

li.nav-item{
    color: cadetblue;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 23px;
}

li.nav-item a:hover{
    color: var(--white);
    background-color: var(--escurao);
    border-bottom: solid 4px var(--white);
}
/* 
.navbar-toggler{
    color: white;
}

.navbar-toggler-icon{
    color: white; 
}  */